<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zeus.dmsMapper.HibernateSequencesMapper" >
  <resultMap id="BaseResultMap" type="org.zeus.entity.HibernateSequences" >
    <result column="sequence_name" property="sequenceName" jdbcType="VARCHAR" />
    <result column="sequence_next_hi_value" property="sequenceNextHiValue" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sequence_name, sequence_next_hi_value
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.zeus.entity.HibernateSequencesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hibernate_sequences
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="org.zeus.entity.HibernateSequencesExample" >
    delete from hibernate_sequences
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.zeus.entity.HibernateSequences" >
    insert into hibernate_sequences (sequence_name, sequence_next_hi_value
      )
    values (#{sequenceName,jdbcType=VARCHAR}, #{sequenceNextHiValue,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.zeus.entity.HibernateSequences" >
    insert into hibernate_sequences
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sequenceName != null" >
        sequence_name,
      </if>
      <if test="sequenceNextHiValue != null" >
        sequence_next_hi_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sequenceName != null" >
        #{sequenceName,jdbcType=VARCHAR},
      </if>
      <if test="sequenceNextHiValue != null" >
        #{sequenceNextHiValue,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.zeus.entity.HibernateSequencesExample" resultType="java.lang.Integer" >
    select count(*) from hibernate_sequences
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hibernate_sequences
    <set >
      <if test="record.sequenceName != null" >
        sequence_name = #{record.sequenceName,jdbcType=VARCHAR},
      </if>
      <if test="record.sequenceNextHiValue != null" >
        sequence_next_hi_value = #{record.sequenceNextHiValue,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hibernate_sequences
    set sequence_name = #{record.sequenceName,jdbcType=VARCHAR},
      sequence_next_hi_value = #{record.sequenceNextHiValue,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>