<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zeus.dmsMapper.UserAndRoleMapper">
  <resultMap id="BaseResultMap" type="org.zeus.bean.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="last_login" jdbcType="VARCHAR" property="lastLogin" />
    <result column="created_time" jdbcType="VARCHAR" property="createdTime" />
    <result column="account_status" jdbcType="VARCHAR" property="accountStatus" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="deletedflag" jdbcType="VARCHAR" property="deletedflag" />
    <result column="mobile" jdbcType="INTEGER" property="mobile" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

    <resultMap id="lazyLoadRoles" type="org.zeus.bean.User" extends="BaseResultMap">
        <collection property="roles" ofType="org.zeus.bean.Role" select="org.zeus.dmsMapper.UserAndRoleMapper.getRolesByUserId"
                    column="id"></collection>
    </resultMap>

    <resultMap id="eagerLoadRoles" type="org.zeus.bean.Role" extends="BaseResultMap">
        <collection property="roles" ofType="org.zeus.bean.Role">
            <id property="id" column="rid"/>
            <result property="name" column="rname"/>
            <result property="nameZh" column="rnameZh"/>
        </collection>
    </resultMap>


    <select id="getaRolesByUserId" resultMap="eagerLoadRoles">
        select h.*,`r`.`id` AS `rid`,`r`.`name` AS `rname`,`r`.`nameZh` AS `rnameZh` from ((`user` `h` left join `user_role`
        `h_r` on ((`h`.`tid` = `h_r`.`userId`))) left join `role` `r` on ((`h_r`.`rid` = `r`.`id`))) where h.`id`=#{tid}
    </select>
    <select id="getRolesByUserId" resultType="org.zeus.bean.Role">
       SELECT r.* FROM user_role h,role r where h.rid=r.id AND h.userId=#{id}
    </select>


    <insert id="addNewUser">
        insert into user set name=#{username},password=#{password}
    </insert>
    <update id="updateUserInfo">
        update user
        <set>
            <if test="name !=null">
                name=#{name}
            </if>

        </set>

        <where>
            id = #{id}
        </where>
    </update>
    <update id="updatePassword">
        update user
        <set>
            <if test="password!=null">
                password=#{password}
            </if>
        </set>

        <where>
            id = #{id}
        </where>

    </update>
</mapper>